<%- include('shared/header', {title: title}); %>
		<div class="hero-body">
			<div class="container has-text-centered">
				<div class="columns is-8 is-variable ">
					<div class="column is-two-thirds has-text-left">
            <div class="card">
              <div class="card-image">
                <figure class="image is-4by3" style='background-image:url("/images/<%= product.image %>"); background-size: cover;'>
                </figure>
              </div>
              <div class="card-content">
                <div class="media">
                  <div class="media-content">
                    <p class="title is-4"><%= product.name %></p>
                    <p class="subtitle is-6">$<%= product.price.toFixed(2) %></p>
                  </div>
                </div>
              </div>
            </div>
					</div>
					<div class="column is-one-third has-text-left">
						<div class="field">
							<label class="label">Pago:</label>
						<div class="control">
              <!-- PP Smart Button Container HERE! -->
              <div id="paypal-button-container"></div>
              <form id="paypal-form" action="/success" method="POST">
                <input type="hidden" name="details" id="details-input"/>
              </form>
						</div>
					</div>
				</div>
			</div>
    </div>
  </div>
  <script>
    paypal.Buttons({
      createOrder: function(data, actions) {
      // This function sets up the details of the transaction, including the amount and line item details.
      return actions.order.create({
        purchase_units: [{
          amount: {
            value: '<%= product.price %>'
          }
        }]
      });
    },
    onApprove: function (data, actions) {
      return actions.order.capture().then(function(details) {
        // This function shows a transaction success message to your buyer.
        // alert('Transaction completed by ' + details.payer.name.given_name);
        var paypalForm = document.getElementById('paypal-form');
        var detailsInput = document.getElementById('details-input');

        var jsonDetails = JSON.stringify(details);

        detailsInput.value = jsonDetails;
        paypalForm.submit();
      });
      //alert('Transacción Creada');
    }
    }).render('#paypal-button-container');
    // This function displays Smart Payment Buttons on your web page.
  </script>
<%- include('shared/footer'); %>