<%- include('shared/header', {title: title}); %>
		<div class="hero-body">
			<div class="container has-text-centered">
				<div class="columns is-8 is-variable ">
					<div class="column is-two-thirds has-text-left">
            <div class="card">
              <div class="card-image">
                <figure class="image is-4by3" style='background-image:url("/images/<%= product.image %>"); background-size: cover;'>
                </figure>
              </div>
              <div class="card-content">
                <div class="media">
                  <div class="media-content">
                    <p class="title is-4"><%= product.name %></p>
                    <p class="subtitle is-6">$<%= product.price.toFixed(2) %></p>
                  </div>
                </div>
              </div>
            </div>
					</div>
					<div class="column is-one-third has-text-left">
						<div class="field">
							<label class="label">Pago:</label>
						<div class="control">
              <!-- PP Smart Button Container HERE! -->
						</div>
					</div>
				</div>
			</div>
    </div>
  </div>
<%- include('shared/footer'); %>